<!DOCTYPE html>
<html>
<head>
    <title>AI Product Search</title>
</head>
<body>

<h2>AI Product Search</h2>

<input type="text" id="query" placeholder="Search product">
<button onclick="search()">Search</button>

<h3>Results</h3>
<ul id="results"></ul>

<script>
 async function search() {
    let query = document.getElementById("query").value;
 try{
    const response= await fetch('/search', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({query: query})
    })
    const data=await response.json();
    
    const resultList=document.getElementById("results");
    resultList.textContent="";
     data.forEach(item => {
        const li=document.createElement("li");
        li.textContent=item.name;
        resultList.appendChild(li);
     });

    
    }
 
 
     catch (error) {
                document.getElementById("results").innerHTML = "<li>Error: " + error.message + "</li>";
            }
 
    
}
</script>

</body>
</html>